<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App Title</title>
    <!-- Your CSS links and other head content here -->
</head>
<style> 
    header {
        color: white;
        background-color: #333;
        padding: 10px;
        text-align: center;
    }

    footer {
        color: white;
        background-color: #333;
        padding: 10px;
        text-align: center;
    }
    main {
        padding: 10px;
        background-color: #f1f1f1;
        border: 1px solid black;
    }
</style>
<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <header>
        <a href={% url 'home' %}><p> OCR App </p></a>
    </header>
    
    <main style="flex: 1;">
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <a href={% url 'home' %}>&copy; Nischal</a>
    </footer>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
